node_modules
npm-debug.log
yarn-error.log
.DS_Store
.git
.gitignore
.vscode
.idea
.env.local
.env.testing
.env.example
.editorconfig
.gitattributes
/vendor
/storage/logs/*
/storage/cache/*
/storage/uploads/*
/bootstrap/cache/*
/tests
/docs
README.md
LICENSE
.github
.gitlab-ci.yml
